.carousel {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  text-align: center;
  color: white;
}

.carousel-image {
  width: 100%;
  height: 60vh; /* Điều chỉnh chiều cao ảnh */
  object-fit: cover;
  border-radius: 20px; /* Bo tròn góc ảnh */
}

.carousel-caption {
  position: absolute;
  top: 50%; /* Đưa dòng chữ vào giữa ảnh */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: none; /* Loại bỏ nền */
  padding: 20px;
  border-radius: 10px;
}

.carousel-caption h2 {
  font-size: 2rem; /* Giảm kích thước chữ */
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Thêm bóng để chữ dễ đọc hơn */
}

.carousel-caption p {
  font-size: 1.2rem; /* Điều chỉnh kích thước chữ */
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Thêm bóng để chữ dễ đọc hơn */
}

.carousel-caption button {
  background-color: #ff6f61;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.carousel-caption button:hover {
  background-color: #e65c50;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.main-content h1 {
  font-size: 2rem; /* Giảm kích thước chữ */
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-content p {
  font-size: 2rem; /* Điều chỉnh kích thước chữ */
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-content button {
  background-color: #ff6f61;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.main-content button:hover {
  background-color: #e65c50;
}